

<div class="ext-calc">
  <div id="body-calc">
    <input type="text" class="screen-calc" [(ngModel)]="valueOutput" disabled />


    <div class="btn-calc" mat-elevation-z8>
      <button type="button" class="operator" value="+">+</button>
      <button type="button" class="operator" value="-">-</button>
      <button type="button" class="operator" value="*">&times;</button>
      <button type="button" class="operator" value="/">&divide;</button>
      <button type="button" value="7">7</button>
      <button type="button" value="8">8</button>
      <button type="button" value="9">9</button>
      <button type="button" value="4">4</button>
      <button type="button" value="5">5</button>
      <button type="button" value="6">6</button>
      <button type="button" value="1">1</button>
      <button type="button" value="2">2</button>
      <button type="button" value="3">3</button>
      <button type="button" value="0">0</button>
      <button type="button" class="decimal function" value=".">.</button>
      <button type="button" class="clear function" value="0">Ans</button>
      <button type="button" class="equal-sign operator" value="=">=</button>
      <button type="button" value="Sin">Sin</button>
      <button type="button" value="Cos">Cos</button>
      <button type="button" value="Tan">Tan</button>
      <button type="button" value="Exp">Exp</button>
    </div>
  </div>
</div>

